.container {
    -fx-font-family: "Montserrat";
    -fx-background-color: white;
}

.auth-container {
    -fx-background-color: white;
}

.auth-form {
    -fx-spacing: 14;
    -fx-alignment: center;
    -fx-padding: 30px;
    -fx-pref-width: 400;
    -fx-background-color: #fff;
}

.auth-header {
    -fx-font-family: Aesthetiva;
    -fx-font-size: 25px;
}

.auth-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.auth-label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.background-pane {
    -fx-background-image: url(../image/bg_signup-login.png);
    -fx-pref-width: 600;
    -fx-pref-height: 700;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 400px 400px;
    -fx-background-position: center center;
}

.text-field,
.password-field {
    -fx-pref-width: 320;
    -fx-pref-height: 36;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #e5e5e5;
    -fx-background-color: #fafafa;
    -fx-padding: 0 12;
}

.text-field:focused,
.password-field:focused {
    -fx-border-color: #2b0066;
    -fx-background-color: white;
}


.primary-button {
    -fx-pref-width: 300;
    -fx-pref-height: 40;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(
            to right,
            #0b0f6a,
            #2630df
    );
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.primary-button:hover {
    -fx-opacity: 0.9;
}

.form-footer {
    -fx-spacing: 5px;
}

.form-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.footer-text {
    -fx-font-size: 12px;
}

.footer-link {
    -fx-text-fill: #1a1f9c;
    -fx-font-weight: bold;
}

.container-form {
    -fx-background-color: #fff;
}

.login-label {
    -fx-alignment: left;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/*-fx-effect với cú pháp dropshadow( <blurType>, <color>, <radius>, <spread>, <offsetX>,*/
.top-bar {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, 3);
}

.nav-btn {
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-font-family: "SansSerif";
    -fx-font-weight: 600;
    -fx-text-fill: #111111;
    -fx-cursor: hand;;
}

.nav-btn.active {
    -fx-border-color: #8558cc;
    -fx-border-width: 0 0 3 0;
    -fx-cursor: hand;;
}


/* ===== Notification Button ===== */
.notif-btn {
    -fx-background-color: #ffffff;
    -fx-background-radius: 100;

    -fx-min-width: 50;
    -fx-min-height: 50;

    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-insets: 0;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-cursor: hand;
}

.notif-icon {
    -fx-icon-size: 22px;
    -fx-icon-color: #555555;
}

.notif-btn:hover {
    -fx-background-color: #E4E4E4;
}

.notif-btn:pressed {
    -fx-background-color: #DADADA;
}

.user-box {
    -fx-background-color: #F5F6F8;
    -fx-background-radius: 40;
    -fx-padding: 3 16 3 10; /* cân lại padding */
    -fx-alignment: center-left;
    -fx-cursor: hand;
}

.user-box:hover {
    -fx-background-color: #ECEEF2;
}

.avatar {
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-max-width: 40;
    -fx-max-height: 40;

    -fx-background-radius: 50%;
    -fx-background-color: transparent;

    -fx-alignment: center;
    -fx-padding: 0;
}

.avt {
    -fx-fit-width: 40;
    -fx-fit-height: 40;
}

#usernameLabel {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
}

.role-text {
    -fx-font-size: 11px;
    -fx-text-fill: #8A8F98;
}

.footer-bar {
    -fx-padding: 0 30 0 60;
    -fx-background-color: white;
    -fx-text-fill: #797979;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 12, 0, 0, -2);
}

/*}*/
/*//card overlay*/
.profile-box {
    -fx-background-radius: 20;
    -fx-padding: 2;
}

.profile-panel {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-padding: 30;
}

.profile-header {
    -fx-padding: 0 0 15 0;
    -fx-border-color: #e5e5e5;
    -fx-border-width: 0 0 1 0;
}

.tab-active {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #5b3cc4;
}

.tab-active:hover,
.tab:hover {
    -fx-cursor: hand;
}

.tab {
    -fx-font-size: 18;
    -fx-text-fill: #666;
}

.logout-btn {
    -fx-background-color: #4b2e83;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-cursor: hand;;
}

.field-label {
    -fx-text-fill: #777;
}

.profile-field {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 10;
}

.save-btn {
    -fx-background-color: linear-gradient(to right, #4b2e83, #a45bdc);
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-cursor: hand;;
}

.logout-btn {
    -fx-background-color: linear-gradient(to right, #5f3dc4, #845ef7);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 30 10 30;
    -fx-background-radius: 25;
    -fx-cursor: hand;
}

.logout-btn:hover {
    -fx-background-color: linear-gradient(to right, #4c2fb3, #7048e8);
}

.overlay-bg {
    -fx-background-color: rgba(0,0,0,0.6);
}

.notif-badge {
    -fx-background-color: #FF3B30;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-min-width: 18px;
    -fx-min-height: 18px;
    -fx-max-width: 18px;
    -fx-max-height: 18px;
    -fx-padding: 0;
    -fx-translate-x: 0;
    -fx-translate-y: -0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 3, 0, 0, 0);
}

.notif-btn:hover {
    -fx-cursor: hand;
}