.noti-box {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #ccc;
    -fx-border-radius: 10;
    -fx-padding: 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0, 0, 2);
}

.noti-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: #ddd;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 5 10 2.5 10;
    -fx-max-width: Infinity;
}

.noti-list {
    -fx-background-color: transparent;
    -fx-padding: 5 10 10 10;
}
